body {
    color: var(--tg-theme-bg-color);
    background: var(--tg-theme-text-color);
}

h1 {
    color: var(--tg-theme-text-color);
}

p {
    color: var(--tg-theme-hint-color);
}


button {
    color: var(--tg-theme-button-color);
    background: var(--tg-theme-button-text-color);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

input.text {
    width:  200px;
    height: 15px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
}
