body {
    color: var(--tg-theme-bg-color);
    background: var(--tg-theme-text-color);
}

h1 {
    color: var(--tg-theme-text-color);
}

p {
    color: var(--tg-theme-hint-color);
}


button {
    color: var(--tg-theme-button-color);
    background: var(--tg-theme-button-text-color);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

input {
    width:  192px;
    margin: 5px 0px 0px 0px;
}

select {
    width:  200px;
}

button:disabled {
    color: #c9c9c9;
}

textarea {
    width:  194px;
    margin: 5px 0px 0px 0px;
}
